{# app/Ressources/TwigBundle/views/Exception/error404.html.twig #}

{% extends "LouvreBilletterieBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block louvrebilleterie_body %}
    <div class="jumbotron">
        <center>
            <img src="{{ asset("images/erreur_404.png") }}"  alt="Erreur 404" /></a>
            <h2>La page n'a pas été trouvée".</h2>        
        </center>
    </div>
  </body>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{%  endblock %}
