{# src/Louvre/BilletterieBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            {% block louvrebilleterie_body %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
