{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>{% block title %} Billetterie du Louvre {% endblock %}</title>

      {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker3.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker3.css.map') }}">
        <link rel="stylesheet" href="{{ asset('css/resalouvre.css') }}">
        <link rel="icon" href="{{ asset('images/favicon.ico') }}">
      {% endblock %}
    </head>

    <body style="background: url({{ asset('images/louvre-accueil-image-de-fond-23.jpg')}}) 50% 0 repeat-x;">
    <div>
            id="js-vars"
            data-vars="{{ js_vars|json_encode|e('html_attr') }}">

    </div>
    <div class="container">
        <div id="header" class="jumbotron">
            <div class="row">
                <div class="col-lg-8">
                    <img src="{{ asset("images/logo-louvre.jpg") }}" width="182" height="55" alt="Logo du musée du Louvre - Page d’accueil du site internet du musée du Louvre (Paris, France) " /></a>
                    <h1>Billetterie du Louvre</h1>
                    <div class="alert span5 alert-danger">
                        <strong>- Ouvert :</strong> Tous les jours de {{ heure_ouverture }} à {{ heure_fermeture }}, sauf le {{ jour_fermeture_txt }}</strong></br>
                        <strong>- Fermé les : </strong>
                        {% for fermeture_annuelle_txt in fermeture_annuelle_txt %}
                            {{ fermeture_annuelle_txt }}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="alert span5 alert-info">
                        <h3>Tarifs</h3>
                        <ul class="list-unstyled">
                        {% for tarif_type in tarif_type %}
                            <strong>{{ tarif_type }}</strong>  : {{ tarif_prix[loop.index0] }}  € ( {{ tarif_txt[loop.index0] }} ) </br>
                        {% endfor %}
                        <li><br><strong>Tarif demi-journée : </strong> à partir de {{ mi_journee }} heure.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div id="content" class="col-md-12">
            {% block body %}
            {% endblock %}
          </div>
        </div>

        <hr>

        <footer>
            <center>
                <div class="medium-7 large-7 small-12 columns jumbotron">
                    <span>Paiement 100% Sécurisé.</span>
                    <img alt="master" src="{{ asset('images/mastercard.gif') }}">
                    <img alt="visa" src="{{  asset('images/visa.gif') }}">
                    <p>© Musée du Louvre {{ 'now'|date('Y') }}.</p>
                </div>
            </center>
        </footer>
      </div>

      {% block javascripts %}
        {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}<script src="{{ asset('js/resalouvre.js') }}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{{ asset('js/resalouvre.js') }}"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
       {# Pour Bootstrap-datepicker #}
        <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
        <script src="{{ asset('js/bootstrap-datepicker.fr.min.js') }}"></script>
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
      {% endblock %}

    </body>
</html>

