{# src/Louvre/BilletterieBundle/Resources/views/Billet/commande.html.twig #}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Votre commande</h3>
    </div>
    <div class="panel-body">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="well">
            {{ form_errors(form) }}
            <div class="form-group">
                {{ form_label(form.datevisite, "Date de visite", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.datevisite) }}
                <div class="col-sm-9">
                    {{ form_widget(form.datevisite, {'attr': {'class': 'form-control js-datepicker'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.demijournee, "Type de billet", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.demijournee) }}
                <div class="col-sm-9">
                    {{ form_widget(form.demijournee, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.email, "Votre email", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.email) }}
                <div class="col-sm-9">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" >Nombre de billets</label>
                <div class="col-sm-9">
                    <input type="text" name="nb_billet" id="nb_billet" class="form-control">
                </div>
            </div>
        </div>
        <div class="well">
            {{ form_widget(form.billets) }}
            {{ form_rest(form) }}
            {{ form_widget(form.Valider, {'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>
