{# src/Louvre/BilletterieBundle/Resources/views/Billet/email.html.twig #}
<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      {% endblock %}
    </head>

    <body>
        <div class="container">
            <div id="header" class="jumbotron">
                <img src="{{ absolute_url(asset("http://www.louvre.fr/sites/all/themes/louvre/img/data/logo-louvre.jpg")) }}" width="182" height="55" alt="Logo du musée du Louvre - Page d’accueil du site internet du musée du Louvre (Paris, France) " /></a>
            </div>
            <div class="row">
                <div id="content" class="col-md-12">
                    <H2>Billetterie du Louvre</h2>
                    <h3>Bonjour {{ reservation.email }}</h3>
                    Votre réservation a bien été enregistrée. Veuillez trouver ci-dessous vos billets. <br>
                    Imprimez cet email et présentez le à l'accueil du Louvre.
                    <p>
                    Votre numéro de réservation : {{ reservation.code }} <br>
                    Billets valables le : {{ reservation.datevisite |date('d/m/Y')}}
                    {% if reservation.demijournee == 1  %}
                        à partir de {{ mi_journee }} heure.
                    {% endif %}
                    <br>
                    Prix Total = {{ reservation.prixReservation }} €<br>
                    <h3>Vos Billets</h3>
                    {% for billet in reservation.billets %}
                        <li> {{ billet.nom }} {{ billet.prenom }} : {{ billet.prix }} €</li>
                    {% endfor %}
                </div>
            </div>
            <hr>
        </div>
    </body>
</html>
