{# src/Louvre/BilletterieBundle/Resources/views/Billet/index.html.twig #}

{% extends "LouvreBilletterieBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block louvrebilleterie_body %}
    {#Gestion des FlashMessages#}
    {% for flashMessage in app.session.flashbag.get('succes') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-lg-7">
            {% include 'LouvreBilletterieBundle:Billet:commande.html.twig' %}
        </div>
        <div class="col-lg-5">
            {% include 'LouvreBilletterieBundle:Billet:panier.html.twig' %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{%  endblock %}
