{# src/Louvre/BilletterieBundle/Resources/views/Billet/commande.html.twig #}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Message</h3>
    </div>
    <div class="panel-body">
        <div class="well">
            {% for flashMessage in app.session.flashbag.get('succes') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('alert') %}
                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
