{# src/Louvre/BilletterieBundle/Resources/views/Billet/panier.html.twig #}
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Votre panier</h3>
    </div>
    <div class="panel-body">
         {% if reservation is defined %}
            Votre numéro de réservation : {{ reservation.code }} </br>
            Billets valables le : {{ reservation.datevisite |date('d/m/Y')}}
            {% if reservation.demijournee == 1  %}
                à partir de {{ mi_journee }} heure.
            {% endif %}
            </br>
            Prix Total = {{ reservation.prixReservation }} €</br>
            <h3>Vos Billets</h3>
            {% for billet in reservation.billets %}
                <li> {{ billet.nom }} {{ billet.prenom }} : {{ billet.prix }} €</li>
            {% endfor %}
            <form action="{{ path('louvre_billetterie_checkout') }}" method="POST">
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_tIgQXIcOuJRssbXZnEAalH0m"
                    data-amount="{{ reservation.prixReservation * 100}} "
                    data-name="Resalouvre"
                    data-email="{{ reservation.email }}"
                    data-description="Module de paiement"
                    data-locale="auto"
                    data-image="{{ asset("images/logo-louvre.jpg") }}"
                    data-label="Payer avec ma CB"
                    data-currency="eur">
                </script>
            </form>
        {% else %}
            <p>Votre panier est vide</p>

        {% endif %}
    </div>
</div>


