{# src/Louvre/BilletterieBundle/Resources/views/Billet/payer.html.twig #}

{% extends "LouvreBilletterieBundle::layout.html.twig" %}

{% block title %}
  Payer - {{ parent() }}
{% endblock %}

{% block louvrebilleterie_body %}


<div class="row">
    <div class="col-lg-7">
        {% include 'LouvreBilletterieBundle:Billet:message.html.twig' %}
    </div>
    <div class="col-lg-5">
        {% include 'LouvreBilletterieBundle:Billet:panier.html.twig' %}
    </div>
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}

{%  endblock %}    

