{# src/Louvre/BilletterieBundle/Resources/views/Billet/success.html.twig #}

{% extends "LouvreBilletterieBundle::layout.html.twig" %}

{% block title %}
  Succès - {{ parent() }}
{% endblock %}

{% block louvrebilleterie_body %}
    <div class="jumbotron">
        <center>
            <img src="{{ asset("images/succes.jpg") }}"  alt="Succès" /></a>
            <h2>Félicitation pour votre achat.</h2>
            <p>Vos billets vous ont été envoyés par email</p>
            <a class="btn btn-primary btn-lg" href="./">Retour à l'accueil</a>
        </center>
    </div>
  </body>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{%  endblock %}
