#louvre_billetteriebundle_reservation_billets > .form-group,
#louvre_billetteriebundle_reservation_billets div div .form-group{
    margin: auto 0;
    width: 100%;
}
#louvre_billetteriebundle_reservation_Valider{
    float: right;
}